/* line 5, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* line 1, ../sass/modules/_top-filter.scss */
.top-filter {
  background: #64463c;
  padding: 32px 0;
  margin-bottom: 32px;
}
/* line 3, ../sass/modules/_top-filter.scss */
.top-filter .checkboxed {
  color: #281414;
  transition: all 0.2s ease-in-out;
}
/* line 5, ../sass/modules/_top-filter.scss */
.top-filter .checkboxed:hover:after {
  background-color: #000;
}
/* line 6, ../sass/modules/_top-filter.scss */
.top-filter .checkboxed:after {
  background: #281414;
}
/* line 7, ../sass/modules/_top-filter.scss */
.top-filter .checkboxed:before {
  background-color: #000;
  border-radius: 4px;
}
/* line 8, ../sass/modules/_top-filter.scss */
.top-filter .checkboxed.checked {
  color: #fff;
}

/* line 11, ../sass/modules/_top-filter.scss */
.tf-title {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #000;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
  padding-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  /* line 11, ../sass/modules/_top-filter.scss */
  .tf-title {
    margin-top: 16px;
  }
}

/* line 18, ../sass/modules/_top-filter.scss */
.tf-checkbox-list li {
  margin-bottom: 8px;
}

/* line 21, ../sass/modules/_top-filter.scss */
.tf-functions-select {
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  /* line 22, ../sass/modules/_top-filter.scss */
  .tf-checkboxes {
    top: -16px;
    position: relative;
  }
}

/* line 1, ../sass/modules/_top-employer.scss */
.top-employer {
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../sass/modules/_top-employer.scss */
  .top-employer {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  /* line 1, ../sass/modules/_top-employer.scss */
  .top-employer {
    margin-bottom: 16px;
  }
}

/* line 10, ../sass/modules/_top-employer.scss */
.te-item {
  height: 416px;
  position: relative;
  padding-top: 50%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  /* line 10, ../sass/modules/_top-employer.scss */
  .te-item {
    margin-bottom: 32px;
    height: auto;
    padding-top: 112px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 10, ../sass/modules/_top-employer.scss */
  .te-item {
    margin-bottom: 16px;
  }
}

/* line 19, ../sass/modules/_top-employer.scss */
.te-item-avatar {
  position: absolute;
  top: 16px;
  left: 16px;
}

/* line 22, ../sass/modules/_top-employer.scss */
.te-item-text {
  padding: 16px;
  height: 100%;
}

/* line 25, ../sass/modules/_top-employer.scss */
.te-item-name {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 24px;
  color: #fff;
}
/* line 27, ../sass/modules/_top-employer.scss */
.te-item-name span {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  margin-right: 4px;
  color: #fff;
}

/* line 31, ../sass/modules/_top-employer.scss */
.te-item-vacancy {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #fff;
}

/* line 1, ../sass/modules/_modals.scss */
.modal-title {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

/* line 4, ../sass/modules/_modals.scss */
.modal-header {
  border-bottom: 1px solid #191919;
  padding: 0 0 4px;
}
/* line 6, ../sass/modules/_modals.scss */
.modal-header .form-step {
  position: absolute;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  top: 36px;
  right: 32px;
}

/* line 10, ../sass/modules/_modals.scss */
.modal-content {
  border-radius: 0;
  padding: 24px 32px;
  min-height: 592px;
}

/* line 11, ../sass/modules/_modals.scss */
.modal-body {
  padding: 16px 0;
}

/* line 12, ../sass/modules/_modals.scss */
button.close {
  width: 32px;
  height: 32px;
  background: url(../images/svg/close.svg) center no-repeat #919191;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  right: -16px;
  top: -16px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
/* line 14, ../sass/modules/_modals.scss */
button.close:hover {
  background-color: #191919;
  opacity: 1;
}

/* line 16, ../sass/modules/_modals.scss */
.pre-modal-text {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 80px;
}
/* line 18, ../sass/modules/_modals.scss */
.pre-modal-text a {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #ff5014;
}

/* line 20, ../sass/modules/_modals.scss */
.modal-lg {
  max-width: 928px;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  /* line 20, ../sass/modules/_modals.scss */
  .modal-lg {
    margin-left: 32px;
    margin-right: 32px;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 20, ../sass/modules/_modals.scss */
  .modal-lg {
    margin-left: 16px;
    margin-right: 16px;
  }
}

/* line 29, ../sass/modules/_modals.scss */
.modal-content-middle {
  max-width: 640px;
  margin: 0 auto;
}
/* line 31, ../sass/modules/_modals.scss */
.modal-content-middle p {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #919191;
  margin-bottom: 32px;
  margin-top: 16px;
}
/* line 34, ../sass/modules/_modals.scss */
.modal-content-middle h3 {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  border-bottom: 1px solid #e1dcdc;
  margin-bottom: 16px;
  padding-bottom: 4px;
}

/* line 39, ../sass/modules/_modals.scss */
.modal-content h3 {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  border-bottom: 1px solid #e1dcdc;
  margin-bottom: 16px;
  padding-bottom: 4px;
}
/* line 42, ../sass/modules/_modals.scss */
.modal-content .input-box {
  margin-bottom: 8px;
}
/* line 44, ../sass/modules/_modals.scss */
.modal-content .checkboxed {
  color: #d7d7d7;
  transition: all 0.2s ease-in-out;
}
/* line 46, ../sass/modules/_modals.scss */
.modal-content .checkboxed:hover {
  color: #919191;
}
/* line 47, ../sass/modules/_modals.scss */
.modal-content .checkboxed:after {
  background: #e1dcdc;
}
/* line 48, ../sass/modules/_modals.scss */
.modal-content .checkboxed.checked {
  color: #919191;
}
/* line 50, ../sass/modules/_modals.scss */
.modal-content .checkboxed.checked:after {
  background: #4b4b4b;
}
/* line 52, ../sass/modules/_modals.scss */
.modal-content .checkboxed:before {
  background-image: url("../images/svg/checkbox_on_white.svg");
}
/* line 54, ../sass/modules/_modals.scss */
.modal-content .labeled {
  color: #919191;
}
/* line 56, ../sass/modules/_modals.scss */
.modal-content .labeled.checked {
  color: #fff;
}

/* line 59, ../sass/modules/_modals.scss */
.form-label {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  margin-bottom: 8px;
}

/* line 62, ../sass/modules/_modals.scss */
.modal-auth {
  padding-top: 24px;
  margin-bottom: 88px;
}

/* line 65, ../sass/modules/_modals.scss */
.form-btn {
  border-radius: 2px;
  height: 40px;
  display: block;
  text-align: center;
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border: none;
  background: #191919;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  line-height: 36px;
}
/* line 67, ../sass/modules/_modals.scss */
.form-btn:hover {
  color: #fff;
  background: #53729c;
}

/* line 69, ../sass/modules/_modals.scss */
.cancel-btn {
  background: #919191;
  color: #fff;
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

/* line 70, ../sass/modules/_modals.scss */
.auth-vk {
  background: #53729c;
}

/* line 71, ../sass/modules/_modals.scss */
.auth-fb {
  background: #455ca1;
}

/* line 72, ../sass/modules/_modals.scss */
.already-registered {
  line-height: 32px;
  text-align: center;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
}

/* line 73, ../sass/modules/_modals.scss */
.btn-disabled {
  opacity: 0;
}

/* line 75, ../sass/modules/_modals.scss */
.who-wrapper p {
  color: #d7d7d7;
  transition: all 0.2s ease-in-out 0s;
}
/* line 76, ../sass/modules/_modals.scss */
.who-wrapper.checked-box p {
  color: #919191;
}

/* line 78, ../sass/modules/_modals.scss */
.subscr-price {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #d7d7d7;
  transition: all 0.2s ease-in-out;
}
/* line 80, ../sass/modules/_modals.scss */
.checked-box .subscr-price {
  color: #000;
}

/* line 82, ../sass/modules/_modals.scss */
.price-label {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  margin-bottom: 8px;
  color: #919191;
}

/* line 86, ../sass/modules/_modals.scss */
.profile-form .row, .profile-form .form-horizontal {
  margin-bottom: 64px;
}
/* line 88, ../sass/modules/_modals.scss */
.profile-form .form-horizontal h3 {
  margin-bottom: 32px;
}
/* line 90, ../sass/modules/_modals.scss */
.profile-form .control-label {
  text-align: left;
  padding-top: 15px;
}

/* line 94, ../sass/modules/_modals.scss */
.panel-group .panel-heading {
  padding: 0 0 16px;
  background: none;
}
/* line 97, ../sass/modules/_modals.scss */
.panel-group .panel-heading.active .acc-btn {
  color: #919191;
}
/* line 100, ../sass/modules/_modals.scss */
.panel-group .panel-body {
  border: none !important;
}
/* line 101, ../sass/modules/_modals.scss */
.panel-group .acc-btn {
  background: none;
  padding: 0;
  text-decoration: none;
  border: none;
  color: #d7d7d7;
}
/* line 102, ../sass/modules/_modals.scss */
.panel-group .panel-body {
  padding: 0;
}

/* line 104, ../sass/modules/_modals.scss */
.panel-default {
  border: none;
  box-shadow: none;
}

/* line 108, ../sass/modules/_modals.scss */
#acc-func .panel {
  border-bottom: 1px solid #e1dcdc;
  margin-bottom: 16px;
}
/* line 109, ../sass/modules/_modals.scss */
#acc-func .panel-body {
  padding-bottom: 16px;
}

/* line 113, ../sass/modules/_modals.scss */
.links-list .form-label {
  line-height: 40px;
}

/* line 116, ../sass/modules/_modals.scss */
.empl-thumb {
  float: left;
  width: 64px;
  margin-right: 8px;
}
/* line 118, ../sass/modules/_modals.scss */
.empl-thumb img {
  width: 100%;
}

/* line 120, ../sass/modules/_modals.scss */
.empl-descr {
  overflow: hidden;
}

/* line 121, ../sass/modules/_modals.scss */
.empl-name {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 8px;
}

/* line 125, ../sass/modules/_modals.scss */
.checked-box p {
  color: #919191;
}
/* line 126, ../sass/modules/_modals.scss */
.checked-box .subscr-price {
  color: #000;
}

/* line 2, ../sass/modules/_specs.scss */
.sp-item-avatar img {
  position: relative;
  top: -16px;
}

/* line 4, ../sass/modules/_specs.scss */
.sp-item-title {
  padding-top: 16px;
}

/* line 9, ../sass/modules/_specs.scss */
.sp-item-info-links a + a {
  margin-left: 6px;
}

/* line 12, ../sass/modules/_specs.scss */
.specs-list-item {
  margin-bottom: 48px;
}

/* line 14, ../sass/modules/_specs.scss */
.specialist-page {
  margin-top: 32px;
}
/* line 16, ../sass/modules/_specs.scss */
.specialist-page .white-bg {
  padding-bottom: 144px;
}

/* line 18, ../sass/modules/_specs.scss */
.spec-top-left {
  padding: 32px;
  max-width: 50%;
  margin-bottom: 72px;
}

/* line 19, ../sass/modules/_specs.scss */
.spec-top-total {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 52px;
}

/* line 20, ../sass/modules/_specs.scss */
.spec-top-text {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

/* line 22, ../sass/modules/_specs.scss */
.spec-promo-btns {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

/* line 23, ../sass/modules/_specs.scss */
.spec-btns-block {
  display: inline-block;
  padding: 0 12px;
  width: 49%;
  box-sizing: border-box;
}

/* line 24, ../sass/modules/_specs.scss */
.spec-price-block {
  padding-top: 32px;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #191919;
  margin-bottom: 40px;
  text-align: center;
}
/* line 26, ../sass/modules/_specs.scss */
.spec-price-block strong {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 52px;
  color: #191919;
  display: block;
  text-transform: none;
}

/* line 28, ../sass/modules/_specs.scss */
.spec-promo-text {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* line 1, ../sass/modules/_profile.scss */
.profile-page {
  margin-top: 32px;
}

/* line 2, ../sass/modules/_profile.scss */
.profile-menu {
  padding-top: 24px;
  border-bottom: 1px solid #191919;
}
/* line 5, ../sass/modules/_profile.scss */
.profile-menu .nav > li {
  padding-right: 24px;
}
/* line 7, ../sass/modules/_profile.scss */
.profile-menu .nav > li a {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #d7d7d7;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/modules/_profile.scss */
.profile-menu .nav > li a:hover {
  background: none;
}
/* line 12, ../sass/modules/_profile.scss */
.profile-menu .nav > li.active a {
  color: #191919;
  background: none;
}

/* line 19, ../sass/modules/_profile.scss */
.profile-submenu-text {
  padding-top: 16px;
}

/* line 21, ../sass/modules/_profile.scss */
.form-info-text {
  margin-top: -4px;
}
/* line 23, ../sass/modules/_profile.scss */
.form-info-text p {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #919191;
  margin-bottom: 16px;
  margin-top: 0;
}

/* line 26, ../sass/modules/_profile.scss */
.profile-subscribtion-btn {
  max-width: 416px;
  margin: 0 auto 128px;
}

/* line 30, ../sass/modules/_profile.scss */
.profile-payment-history-list {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #919191;
}
/* line 32, ../sass/modules/_profile.scss */
.profile-payment-history-list li {
  border-bottom: 1px solid #e1dcdc;
  margin-bottom: 16px;
  padding-bottom: 16px;
  line-height: 24px;
}
/* line 33, ../sass/modules/_profile.scss */
.profile-payment-history-list li:after {
  content: '';
  display: table;
  clear: both;
}
/* line 38, ../sass/modules/_profile.scss */
.profile-payment-history-list .payment-date {
  margin-right: 16px;
}
/* line 39, ../sass/modules/_profile.scss */
.profile-payment-history-list .payment-total {
  float: right;
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}

/* line 1, ../sass/pages/_vacancy-page.scss */
.vacancy-page {
  margin-bottom: 56px;
  margin-top: 32px;
}
/* line 3, ../sass/pages/_vacancy-page.scss */
.vacancy-page p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #191919;
  margin-bottom: 24px;
}

/* line 5, ../sass/pages/_vacancy-page.scss */
.vp-item-title {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 52px;
  margin-bottom: 16px;
  color: #191919;
}

/* line 8, ../sass/pages/_vacancy-page.scss */
.vp-details {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 40px;
}
/* line 11, ../sass/pages/_vacancy-page.scss */
.vp-details-label {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
}

/* line 15, ../sass/pages/_vacancy-page.scss */
.vp-apply {
  padding-top: 48px;
}
/* line 17, ../sass/pages/_vacancy-page.scss */
.vp-apply small {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  letter-spacing: 0;
  display: block;
  color: #919191;
  line-height: 1.2;
}

/* line 19, ../sass/pages/_vacancy-page.scss */
.vp-apply-btn {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-bottom: 16px;
}
/* line 10, ../sass/_var.scss */
.vp-apply-btn:hover {
  background: #191919;
  color: #fff;
}
/* line 13, ../sass/_var.scss */
.vp-apply-btn:active, .vp-apply-btn:focus {
  background: #64463c;
  color: #fff;
}

/* line 22, ../sass/pages/_vacancy-page.scss */
.vp-top {
  position: relative;
}
/* line 24, ../sass/pages/_vacancy-page.scss */
.vp-top img {
  vertical-align: top;
  width: 100%;
}

/* line 26, ../sass/pages/_vacancy-page.scss */
.vp-userpic {
  position: absolute;
  left: 32px;
  top: 16px;
}

/* line 30, ../sass/pages/_vacancy-page.scss */
.bg-page {
  padding-top: 208px;
  background: url(../images/profile_cover.png) center 0 no-repeat;
  background-attachment: fixed;
  margin-top: 0;
}
/* line 32, ../sass/pages/_vacancy-page.scss */
.bg-page .jl-item-info {
  padding-top: 0;
}

/* line 34, ../sass/pages/_vacancy-page.scss */
.details-top {
  padding-bottom: 72px;
}
/* line 36, ../sass/pages/_vacancy-page.scss */
.details-top:after {
  content: '';
  display: table;
  clear: both;
}

/* line 40, ../sass/pages/_vacancy-page.scss */
.details-top-avatar {
  float: left;
  width: 160px;
  margin-right: 32px;
  margin-top: -32px;
  padding: 8px;
  background: #fff;
}
/* line 42, ../sass/pages/_vacancy-page.scss */
.details-top-avatar img {
  width: 100%;
}

/* line 44, ../sass/pages/_vacancy-page.scss */
.details-top-name {
  overflow: hidden;
  padding-top: 24px;
}
/* line 46, ../sass/pages/_vacancy-page.scss */
.details-top-name h1 {
  color: #191919;
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  border-bottom: 1px solid #191919;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

/* line 48, ../sass/pages/_vacancy-page.scss */
.details-top-info {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
/* line 50, ../sass/pages/_vacancy-page.scss */
.details-top-info span {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #919191;
}

/* line 52, ../sass/pages/_vacancy-page.scss */
.jl-item-contacts {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #919191;
  margin-bottom: 32px;
}

/* line 55, ../sass/pages/_vacancy-page.scss */
.jl-item-contacts-list {
  display: inline-block;
  vertical-align: top;
}
/* line 57, ../sass/pages/_vacancy-page.scss */
.jl-item-contacts-list a {
  display: block;
  line-height: 1.8;
}

/* line 61, ../sass/pages/_vacancy-page.scss */
.vacancy-meta-wrapper.affix {
  top: -10px;
}
/* line 62, ../sass/pages/_vacancy-page.scss */
.vacancy-meta-wrapper.affix-bottom {
  position: absolute;
}

/* line 1, ../sass/_main.scss */
body {
  background: #281414;
  font-family: "PT Serif", serif;
  padding-bottom: 50px;
  color: #191919;
}

/* line 2, ../sass/_main.scss */
header {
  background: #000;
  color: #fff;
}
/* line 4, ../sass/_main.scss */
header nav.navbar-collapse {
  float: right;
  padding: 0 32px;
}
@media only screen and (max-width: 768px) {
  /* line 4, ../sass/_main.scss */
  header nav.navbar-collapse {
    float: none;
    clear: both;
    padding: 0 16px;
  }
}
/* line 10, ../sass/_main.scss */
header .navbar-nav > li > a {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #4b4b4b;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 300;
}
/* line 12, ../sass/_main.scss */
header .navbar-nav > li > a:hover, header .navbar-nav > li > a:focus {
  background: none;
  color: #fff;
}
/* line 14, ../sass/_main.scss */
header .logo {
  padding: 0 32px;
}
@media only screen and (max-width: 768px) {
  /* line 14, ../sass/_main.scss */
  header .logo {
    padding: 0 16px;
  }
}
/* line 19, ../sass/_main.scss */
header .logo a {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-weight: bold;
}
/* line 21, ../sass/_main.scss */
header.logged-in {
  padding-right: 48px;
}
@media only screen and (max-width: 480px) {
  /* line 24, ../sass/_main.scss */
  header .navbar-toggle {
    padding: 9px 0;
  }
}
/* line 29, ../sass/_main.scss */
header.affix {
  top: 0;
  z-index: 5;
  width: 100%;
}

/* line 31, ../sass/_main.scss */
.header-avatar {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 32, ../sass/_main.scss */
.white-bg {
  background: #fff;
}

/* line 33, ../sass/_main.scss */
a {
  color: #ff5014;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
/* line 35, ../sass/_main.scss */
a:hover {
  text-decoration: none;
}
/* line 36, ../sass/_main.scss */
a:focus {
  outline: none;
  color: inherit;
}

/* line 39, ../sass/_main.scss */
.btn:focus, .btn:hover, .btn:active {
  outline: none;
}

/* line 42, ../sass/_main.scss */
.form-control {
  height: 40px;
  border-radius: 2px;
  background: #f0f0f0;
  box-shadow: inset 0 3px 4px #ddd;
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
}

/* line 44, ../sass/_main.scss */
.container {
  width: 100%;
  max-width: 1376px;
  padding: 0 32px;
}
@media only screen and (max-width: 768px) {
  /* line 44, ../sass/_main.scss */
  .container {
    padding: 0 16px;
  }
}

/* line 53, ../sass/_main.scss */
.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* line 54, ../sass/_main.scss */
.navbar {
  margin-bottom: 0;
}

/* line 57, ../sass/_main.scss */
.checkboxed {
  position: relative;
  color: #d7d7d7;
  padding-left: 25px;
  vertical-align: top;
  cursor: pointer;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  line-height: 16px;
}
/* line 59, ../sass/_main.scss */
.checkboxed:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: #e1dcdc;
  transition: all 0.2s ease-in-out;
}
/* line 60, ../sass/_main.scss */
.checkboxed:before {
  content: "";
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  z-index: 2;
  background: url(../images/svg/checkbox_on.svg) center no-repeat;
}
/* line 61, ../sass/_main.scss */
.checkboxed input {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
}
/* line 62, ../sass/_main.scss */
.checkboxed.checked {
  color: #919191;
}
/* line 64, ../sass/_main.scss */
.checkboxed.checked:before {
  display: block;
}

/* line 68, ../sass/_main.scss */
.selectized {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
}

/* line 73, ../sass/_main.scss */
.selectize-control.single .selectize-input, .selectize-control.multi .selectize-input {
  padding: 0 12px;
  background: #000;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  border-color: #000;
  box-shadow: none;
}
/* line 75, ../sass/_main.scss */
.selectize-control.single .selectize-input input, .selectize-control.multi .selectize-input input {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #fff;
}
/* line 61, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.selectize-control.single .selectize-input input:-moz-placeholder, .selectize-control.multi .selectize-input input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 64, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.selectize-control.single .selectize-input input::-moz-placeholder, .selectize-control.multi .selectize-input input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 67, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.selectize-control.single .selectize-input input:-ms-input-placeholder, .selectize-control.multi .selectize-input input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 56, ../../../../server/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.selectize-control.single .selectize-input input::-webkit-input-placeholder, .selectize-control.multi .selectize-input input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 82, ../sass/_main.scss */
.selectize-control.single .selectize-input:after, .selectize-control.multi .selectize-input:after {
  border: none;
  background: url(../images/svg/dropdown.svg) 0 0 no-repeat;
  width: 13px;
  height: 8px;
  margin-top: -4px;
  position: absolute;
  right: 15px;
  top: 50%;
}
/* line 85, ../sass/_main.scss */
.selectize-control.single .selectize-input:hover:after, .selectize-control.multi .selectize-input:hover:after {
  background: url(../images/svg/dropdown-white.svg) 0 0 no-repeat;
}
/* line 88, ../sass/_main.scss */
.selectize-control.single .selectize-input.focus:hover:after, .selectize-control.multi .selectize-input.focus:hover:after {
  background: url(../images/svg/dropdown.svg) 0 0 no-repeat;
}
/* line 91, ../sass/_main.scss */
.selectize-control.single .selectize-input.input-active, .selectize-control.multi .selectize-input.input-active {
  background: #000;
  color: #a5a5a5;
}
/* line 95, ../sass/_main.scss */
.selectize-control.single .selectize-input.dropdown-active:before, .selectize-control.multi .selectize-input.dropdown-active:before {
  display: none;
}
/* line 97, ../sass/_main.scss */
.selectize-control.single .selectize-input [data-value], .selectize-control.single .selectize-input > div, .selectize-control.multi .selectize-input [data-value], .selectize-control.multi .selectize-input > div {
  background: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0;
}
/* line 98, ../sass/_main.scss */
.selectize-control.single .selectize-input .active[data-value], .selectize-control.multi .selectize-input .active[data-value] {
  background: none;
  border: none;
}
/* line 99, ../sass/_main.scss */
.selectize-control.single .selectize-input.has-items, .selectize-control.multi .selectize-input.has-items {
  padding: 0 12px;
}
/* line 100, ../sass/_main.scss */
.selectize-control.single .selectize-input .item, .selectize-control.multi .selectize-input .item {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  color: #fff;
  margin: 0;
}
/* line 102, ../sass/_main.scss */
.selectize-control.single .selectize-input .item + .item, .selectize-control.multi .selectize-input .item + .item {
  margin-left: 8px;
  position: relative;
}
/* line 104, ../sass/_main.scss */
.selectize-control.single .selectize-input .item + .item:before, .selectize-control.multi .selectize-input .item + .item:before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  width: 1px;
  background: #fff;
  height: 20px;
  margin-top: -12px;
}
/* line 110, ../sass/_main.scss */
.selectize-control.single .selectize-dropdown, .selectize-control.multi .selectize-dropdown {
  margin-top: 4px;
  border-radius: 4px;
  background: #000;
  border-color: #000;
}
/* line 112, ../sass/_main.scss */
.selectize-control.single .selectize-dropdown .option, .selectize-control.multi .selectize-dropdown .option {
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
  border-bottom: 1px solid #191919;
  letter-spacing: 1px;
  color: #4b4b4b;
}
/* line 114, ../sass/_main.scss */
.selectize-control.single .selectize-dropdown .option:last-child, .selectize-control.multi .selectize-dropdown .option:last-child {
  border-bottom: none;
}
/* line 115, ../sass/_main.scss */
.selectize-control.single .selectize-dropdown .option.active, .selectize-control.single .selectize-dropdown .option.selected, .selectize-control.multi .selectize-dropdown .option.active, .selectize-control.multi .selectize-dropdown .option.selected {
  background: #191919;
  color: #fff;
}

/* line 120, ../sass/_main.scss */
.label-tag {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  background-color: #ffa000;
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  height: 20px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 2px;
  padding: 0 6px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
}

/* line 124, ../sass/_main.scss */
.labeled {
  position: relative;
  overflow: hidden;
  background: #e1dcdc;
  color: #919191;
  cursor: pointer;
}
/* line 126, ../sass/_main.scss */
.labeled.checked {
  color: #fff;
  background: #ffa000;
}
/* line 129, ../sass/_main.scss */
.labeled input {
  opacity: 0;
  position: absolute;
}
/* line 130, ../sass/_main.scss */
.labeled:after, .labeled:before {
  display: none;
  opacity: 0;
}

/* line 133, ../sass/_main.scss */
.jobs-list-item {
  padding-bottom: 40px;
  margin: 0 0 8px;
}

/* line 135, ../sass/_main.scss */
.disabled-jobs .jl-item-title, .disabled-jobs .sp-item-title, .disabled-jobs .jl-item-text {
  color: #919191;
}
/* line 136, ../sass/_main.scss */
.disabled-jobs .label-tag {
  background: #919191;
}

/* line 138, ../sass/_main.scss */
.jobs-list {
  margin-bottom: 48px;
}

/* line 140, ../sass/_main.scss */
.jl-item-employer {
  font-family: "effra", sans-serif;
  margin-bottom: 24px;
  font-size: 14px;
  color: #919191;
  margin-bottom: 32px;
  padding-top: 32px;
}
/* line 142, ../sass/_main.scss */
.jl-item-employer span {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  margin-right: 4px;
}

/* line 146, ../sass/_main.scss */
.jl-item-title, .sp-item-title {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #191919;
  margin-bottom: 16px;
  display: block;
}
/* line 148, ../sass/_main.scss */
.jl-item-title a, .sp-item-title a {
  text-decoration: none;
  color: #191919;
}

/* line 150, ../sass/_main.scss */
.jl-item-text {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #191919;
}
/* line 152, ../sass/_main.scss */
.jl-item-text a, .jl-item-text .span-link {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  line-height: 24px;
  letter-spacing: 0;
  color: #ff5014;
  text-decoration: underline;
}

/* line 154, ../sass/_main.scss */
.jl-item-link {
  text-decoration: none;
  display: block;
}
/* line 156, ../sass/_main.scss */
.jl-item-link:hover .span-link {
  text-decoration: none;
}

/* line 158, ../sass/_main.scss */
.jl-item-avatar {
  padding-top: 16px;
}

/* line 161, ../sass/_main.scss */
.jl-item-info {
  padding-top: 83px;
  margin-bottom: 32px;
}
/* line 163, ../sass/_main.scss */
.jl-item-info span:first-child {
  display: inline-block;
  margin-right: 4px;
  width: 80px;
  color: #919191;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
}
@media only screen and (max-width: 768px) and (min-width: 641px) {
  /* line 163, ../sass/_main.scss */
  .jl-item-info span:first-child {
    display: block;
    margin-bottom: 4px;
  }
}

/* line 171, ../sass/_main.scss */
.jl-item-info div {
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 6px;
  color: #4b4b4b;
}
@media only screen and (max-width: 768px) and (min-width: 641px) {
  /* line 171, ../sass/_main.scss */
  .jl-item-info div {
    margin-bottom: 12px;
  }
}

/* line 179, ../sass/_main.scss */
.jl-item-info .jl-item-info-details {
  width: auto;
  display: inline-block;
  vertical-align: top;
  font-family: "effra", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4b4b4b;
  text-transform: none;
}

/* line 181, ../sass/_main.scss */
.jl-item-tags-title {
  font-family: "PT Mono";
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 4px;
  letter-spacing: 2px;
  color: #919191;
  margin-bottom: 8px;
}

/* line 185, ../sass/_main.scss */
.jl-items-contact {
  margin-bottom: 48px;
  padding-top: 40px;
}
/* line 187, ../sass/_main.scss */
.jl-items-contact + .jl-item-info {
  padding-top: 0;
}

/* line 190, ../sass/_main.scss */
.related-title {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 4px;
}

/* line 194, ../sass/_main.scss */
.big-btns-row {
  margin-bottom: 32px;
  padding-top: 24px;
}

/* line 195, ../sass/_main.scss */
.big-btns {
  padding: 24px 24px 64px;
  float: left;
  width: calc(50% - 4px);
  display: block;
  text-decoration: none;
  font-family: "effra", sans-serif;
  font-weight: 500;
  color: #fff;
}
/* line 197, ../sass/_main.scss */
.big-btns:hover {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  /* line 195, ../sass/_main.scss */
  .big-btns {
    width: 100%;
    margin-bottom: 8px;
  }
}

/* line 202, ../sass/_main.scss */
.vacancy-new {
  background: #3c50b4;
}

/* line 205, ../sass/_main.scss */
.new-profile {
  background: #ffa000;
  float: right;
}

/* line 208, ../sass/_main.scss */
.big-btns-title {
  font-size: 56px;
  line-height: 52px;
  display: block;
  margin-bottom: 88px;
}

/* line 209, ../sass/_main.scss */
.big-btns-text {
  text-align: center;
  display: block;
  font-size: 19px;
  line-height: 24px;
}

/* line 213, ../sass/_main.scss */
.blue {
  background: #3D50B6;
}

/* line 216, ../sass/_main.scss */
.orange {
  background: #ff5014;
}

/* line 219, ../sass/_main.scss */
.black {
  color: #000;
}

/* line 223, ../sass/_main.scss */
.upload-thumb {
  overflow: hidden;
}

/* line 226, ../sass/_main.scss */
.uploaded-thumb {
  float: left;
  margin-right: 16px;
}

/* line 229, ../sass/_main.scss */
.uploader-wrapper {
  float: left;
  position: relative;
  overflow: hidden;
  padding-top: 12px;
}
/* line 231, ../sass/_main.scss */
.uploader-wrapper div {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
/* line 232, ../sass/_main.scss */
.uploader-wrapper input {
  font-size: 200px;
  cursor: pointer;
}

/* line 234, ../sass/_main.scss */
.fake-uploader {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  text-decoration: underline;
  color: #919191;
}

/* line 237, ../sass/_main.scss */
.remove-uploaded {
  display: block;
  text-decoration: underline;
  color: #919191;
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #919191;
  margin-top: 8px;
}

/* line 241, ../sass/_main.scss */
.nopadding {
  padding: 0 !important;
}

/* line 245, ../sass/_main.scss */
.orange-btn {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  background: #ffa000;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
/* line 32, ../sass/_var.scss */
.orange-btn:hover {
  background: #ffa000;
  color: #fff;
}
/* line 35, ../sass/_var.scss */
.orange-btn:active, .orange-btn:focus {
  background: #ffa000;
  color: #fff;
}

/* line 248, ../sass/_main.scss */
.blue-btn {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  background: #3c50b4;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
/* line 32, ../sass/_var.scss */
.blue-btn:hover {
  background: #3c50b4;
  color: #fff;
}
/* line 35, ../sass/_var.scss */
.blue-btn:active, .blue-btn:focus {
  background: #3c50b4;
  color: #fff;
}

/* line 252, ../sass/_main.scss */
.user-menu {
  margin-right: 4px;
}
/* line 254, ../sass/_main.scss */
.user-menu a {
  font-family: "effra", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
/* line 255, ../sass/_main.scss */
.user-menu > li > a {
  color: #919191;
}
/* line 256, ../sass/_main.scss */
.user-menu > li > a:hover {
  background: none;
  color: #4b4b4b;
}
