body {background: $body-bg;font-family: $pt-serif;padding-bottom: 50px;}
header {
    background: #000;color: #fff;
    nav.navbar-collapse {
        float: right;padding: 0 32px;
        @include bp(max-width, 768px){
            float: none;clear: both;
        }
    }
    .navbar-nav > li > a {
        @include h3;color: #4b4b4b;transition: color 0.3s ease-in-out;text-decoration: none;
        &:hover, &:focus {background: none;color: #fff;}
    }
    .logo {
        padding: 0 32px;
        a {@include h2;text-decoration: none;color: #fff;line-height: 50px;font-weight: bold;}
    }
    &.logged-in {
        padding-right: 48px;
    }
}
.header-avatar {position: absolute;right: 0;top: 0;}
.white-bg {background: #fff;}
a {
    color: #ff5014;text-decoration: underline;transition: color 0.2s ease-in-out;
    &:hover {text-decoration: none;}
}

.form-control {height: 40px;border-radius: 2px;background: #f0f0f0;box-shadow: inset 0 3px 4px #ddd;}

.container {
    width: 100%;
    max-width: 1376px;
    padding: 0 32px;
    @include bp(max-width, 768px){
        padding: 0 16px;
    }
}

.bs-docs-nav .navbar-toggle .icon-bar {background-color: #fff;}
.navbar {margin-bottom: 0}


.checkboxed {
    position: relative;color: #d7d7d7;padding-left: 25px;vertical-align: top;cursor: pointer;@include label;line-height: 16px;
    &:after {content: '';position: absolute;left: 0;top: 0;width: 16px;height: 16px;border-radius: 4px;background: #e1dcdc;}
    &:before {content: "";position: absolute;display: none;width: 16px;height: 16px;left: 0;top: 0;z-index: 2;background: url(../images/svg/checkbox_on.svg) center no-repeat;}
    input {position: absolute;left: 0;right: 0;opacity: 0;}
    &.checked {
        color: #919191;
        &:before {display: block;}
    }
}

.selectized {
    @include label;
}

.selectize-control.single {
    .selectize-input {
        padding: 0 12px;background: #000;height: 40px;line-height: 40px;border-radius: 4px;border-color: #000;box-shadow: none;
        input {
            text-transform: uppercase;color: #fff;letter-spacing: 1px;
            @include input-placeholder {
                color: #fff;
                opacity: 1;
            }
        }
        &:after {
            border: none;background: url(../images/svg/dropdown.svg) 0 0 no-repeat;width: 13px;height: 8px;margin-top: -4px;
        }
        &:hover:after {
            background: url(../images/svg/dropdown-white.svg) 0 0 no-repeat;
        }
        &.focus:hover:after {
            background: url(../images/svg/dropdown.svg) 0 0 no-repeat;
        }
        &.input-active {
            background: #000;color: #a5a5a5;
        }
        &.dropdown-active {
            &:before {display: none;}
        }
        .item {color: #fff;}
    }
    .selectize-dropdown {
        margin-top: 4px;border-radius: 4px;background: #000;border-color: #000;
        .option {
            height: 40px;line-height: 40px;padding: 0 8px;border-bottom: 1px solid #191919;letter-spacing: 1px;color: #4b4b4b;
            &:last-child {border-bottom: none;}
            &.active, &.selected {background: #191919;color: #fff;}
        }
    }
}

.label-tag {
    @include label;background-color: #ffa000;font-size: 11px;letter-spacing: 2px;text-decoration: none;display: inline-block;height: 20px;line-height: 21px;font-weight: normal;margin-bottom: 2px;padding: 0 6px;max-width: 100%;text-overflow: ellipsis;overflow: hidden;color: #fff;
}

.labeled {
    position: relative;overflow: hidden;background: #e1dcdc;color: #919191;cursor: pointer;
    &.checked {
        color: #fff;background: #ffa000;
    }
    input {opacity: 0;position: absolute;}
    &:after, &:before {display: none;opacity: 0;}
}

.jobs-list-item {padding-bottom: 40px;margin: 0 0 8px;}
.disabled-jobs {
    .jl-item-title, .jl-item-text {color: #919191;}
    .label-tag {background: #919191;}
}
.jobs-list {margin-bottom: 3*$x;}

.jl-item-employer {
    font-family: $effra;margin-bottom: 24px;font-size: 14px;color: #919191;margin-bottom: 32px;padding-top: 32px;
    span {
        @include label;margin-right: 4px;
    }
}
.jl-item-title {
    @include h2;color: #191919;margin-bottom: 16px;
}
.jl-item-text {
    @include p-text;color: #191919;
    a {@include label;line-height: 24px;letter-spacing: 0;color: #ff5014;}
}
.jl-item-avatar {
    padding-top: 16px;
}
.jl-item-info {
    padding-top: 32px;margin-bottom: 32px;
    span {display: inline-block;margin-right: 4px;width: 80px;color: #919191;@include label;}
    div {@include small;margin-bottom: 6px;color: #4b4b4b;}
}
.jl-item-tags-title {
    font-family: $mono;text-transform: uppercase;font-size: 11px;margin-right: 4px;letter-spacing: 2px;color: #919191;margin-bottom: 8px;
}

.related-title {
    @include h3;color: #fff;margin-bottom: 4px;
}

.big-btns-row {margin-bottom: 8px;}
.big-btns {
    padding: 24px 24px 64px;float: left;width: calc(50% - 4px);display: block;text-decoration: none;font-family: $effra;font-weight: 500;color: #fff;
    &:hover {color: #fff;text-decoration: none}
    @include bp(max-width, 1024px){
        width: 100%;margin-bottom: 8px; 
    }
}
.vacancy-new {
    background: #3c50b4;
}
.new-profile {
    background: #ffa000;float: right;
}
.big-btns-title {font-size: 56px;line-height: 52px;display: block;margin-bottom: 88px;}
.big-btns-text {text-align: center;display: block;font-size: 19px;line-height: 24px;}

.blue {
    background: #3D50B6;
}
.orange {
    background: #ff5014;
}
.black {
    color: #000;
}

.upload-thumb {
    overflow: hidden;
}
.uploaded-thumb {
    float: left;margin-right: 16px;
}
.uploader-wrapper {
    float: left;position: relative;overflow: hidden;padding-top: 12px;
    div {opacity: 0;position: absolute;cursor: pointer;}
    input {font-size: 200px;cursor: pointer;}
}
.fake-uploader {
    @include label;text-decoration: underline;color: #919191;
}
.remove-uploaded {
    display: block;text-decoration: underline;color: #919191;@include label;margin-top: 8px;
}