$mono: 'PT Mono';
$effra: "effra", sans-serif;
$pt-serif: 'PT Serif', serif;
$body-bg: #281414;
$orange: #ff5014;
$blue: #14b4dc;
$green: #50c864;
$red: #ff5014;
$x: 16px;

@mixin black-btn {
    @include h3;color: #fff;background: #000;border: none;border-radius: 0;transition: all 0.2s ease-in-out;
    &:hover {
        background: #191919;color: #fff;
    }
    &:active, &:focus {
        background: #64463c;color: #fff;
    }
}

@mixin btn($bg-color, $color, $h-bg-color : null, $h-color : null, $f-bg-color : null, $f-color : null) {
    @if ($h-color == null){
        $h-color : $color;
    }
    @if ($f-color == null){
        $f-color : $color;
    }
    @if ($h-bg-color == null){
        $h-bg-color : $bg-color;
    }
    @if ($f-bg-color == null){
        $f-bg-color : $bg-color;
    }
    @include h3;line-height: 40px;color: $color;background: $bg-color;border: none;border-radius: 4px;transition: all 0.2s ease-in-out;text-decoration: none;@include box-shadow(0 2px 4px rgba(#000,0.15));
    &:hover {
        background: $h-bg-color;color: $h-color;text-decoration: none;
    }
    &:active, &:focus {
        background: $f-bg-color;color: $f-color;text-decoration: none;
    }
}