.about-page {
    margin-top: 2*$x;
    .spec-promo-btns {padding-bottom: 10*$x;}
}
.about-content {
    max-width: 49*$x;padding: 1.5*$x 2*$x 0;margin-bottom: 9.5*$x;
    h1 {margin-bottom: 2*$x;}
    h4 {@include label;padding-top: $x;margin-bottom: 0.5*$x;}
    p {margin-bottom: 2*$x;}
}