.profile-page {
    .white-bg {overflow: hidden;}
}
.profile-menu {
    padding-top: 1.5*$x;border-bottom: 1px solid #191919;margin-left: $x;margin-right: $x;
    @include bp(max-width, 768px){
        margin-left: 0;margin-right: 0;
    }
    .nav {
        & > li {
            padding-right: 1.5*$x;
            a {
                @include h2;color: #d7d7d7;text-decoration: none;padding-left: 0;padding-right: 0;
                &:hover {background: none;}
                &:focus {background: none;}
            }
            &.active {
                a {color: #191919;background: none;}
            }
        }
    }
}


.profile-submenu-text {
    padding-top: 13px;padding-left: $x;padding-right: $x;line-height: 20px;margin-bottom: 75px;
    @include bp(max-width, 768px){
        padding-left: 0;padding-right: 0;
    }
    .label {vertical-align: top;margin-right: 6px;}
}

.form-info-text {
    margin-top: -4px;
    p {@include h4;color: #919191;margin-bottom: $x;margin-top: 0;}
}

.profile-subscription-btn {
    max-width: 26*$x;margin: 1.5*$x auto 4*$x;
}

.profile-payment-history-list {
    @include small;color: #919191;
    li {
        &:after {
            @include clearfix;
        }
        border-bottom: 1px solid #e1dcdc;margin-bottom: $x;padding-bottom: $x;line-height: 24px;
    }
    .payment-date {margin-right: $x;}
    .payment-total {float: right;@include h4;}
}