.sp-item-avatar {    
    @include bp(min-width, 1025px){
        img {position: relative;top: -($x);}
    }
    img {vertical-align: top;}
}
.sp-item-title {
    @extend .jl-item-title;margin-top: 1.5*$x;
    @include bp(max-width, 910px){
        margin: 0;
    }
}

.sp-item-info-links {
    a + a {margin-left: 6px}
}

.specs-list-item {margin-bottom: 3*$x;}

.specialist-page {
    .white-bg {padding-bottom: 9*$x;}
}
.spec-top-left {padding: 2*$x;max-width: 50%;margin-bottom: 72px;}
.spec-top-total {@include h1;}
.spec-top-text {@include h2;}

.spec-promo-btns {max-width: 864px;text-align: left;margin: 0 auto;}
.spec-btns-block {
    display: inline-block;padding: 0;box-sizing: border-box;text-align: center;
    & + .spec-btns-block {float: right;}
}
.spec-price-block {
    padding-top: 2*$x;@include label;color: #191919;text-align: center;
    strong {@include h1;color: #191919;display: block;text-transform: none;padding-top: 5px;}
    & + .spec-promo-text {padding-top: 3*$x;}
}
.spec-promo-text {@include small;padding-top: 2*$x;line-height: 20px;}
.cancel-subscription {
    padding-top: $x;overflow: hidden;padding-bottom: 1px;
    a {@include small;}
    .grey-link {float: right;}
    .orange-link {float: left;}
}

.spec-info-for-mobile {
    display: none;
    @include bp(max-width, 480px){
        display: block;clear: both;
    }
}