.sp-item-avatar {
    img {position: relative;top: -($x);}
}
.sp-item-title {
    @extend .jl-item-title;margin-top: 1.5*$x;
}

.sp-item-info-links {
    a + a {margin-left: 6px}
}

.specs-list-item {margin-bottom: 3*$x;}

.specialist-page {
    margin-top: 2*$x;
    .white-bg {padding-bottom: 9*$x;}
}
.spec-top-left {padding: 2*$x;max-width: 50%;margin-bottom: 72px;}
.spec-top-total {@include h1;}
.spec-top-text {@include h2;}

.spec-promo-btns {text-align: center;max-width: 70%;margin: 0 auto;}
.spec-btns-block {display: inline-block;padding: 0 12px;width: 49%;box-sizing: border-box;}
.spec-price-block {
    padding-top: 2*$x;@include label;color: #191919;text-align: center;
    strong {@include h1;color: #191919;display: block;text-transform: none;padding-top: 3px;}
    & + .spec-promo-text {padding-top: 2.5*$x;}
}
.spec-promo-text {@include small;padding-top: 2*$x;}
.cancel-subscription {
    padding-top: $x;overflow: hidden;padding-bottom: 1px;
    a {@include small;}
    .grey-link {float: right;}
    .orange-link {float: left;}
}