.list-container {
    &:after {@include clearfix;}
    max-width: 1376px;margin: 0 auto;padding: 0 2*$x;
    @include bp(max-width, 1024px){
        padding: 0 $x;
    }
    @include bp(max-width, 480px){
        .vacancy-page & {padding: 0;}
    }
}
.list-row {
    &:after {@include clearfix;}
}

.list-row-col {
    float: left;min-height: 1px;
}

.list-row-col-x2 {
    width: 2*$x;
}
.list-row-col-x6 {
    width: 6*$x;
}
.list-row-col-x10 {
    width: 10*$x;
}
.list-row-col-x19 {
    width: 19*$x;
}
.list-row-col-x24 {
    width: 24*$x;
}
.list-row-col-x39 {
    width: 39*$x;
}
.list-row-col-x43 {
    width: 43*$x;
}

.list-spec-avatar {
    float: left;width: 10*$x;
    @include bp(max-width, 910px){
        width: 64px;padding: 16px 0 16px 16px;margin-right: 32px;
    }
    @include bp(max-width, 640px){
        width: 64px;padding: 16px 0 16px 16px;margin-right: 16px;
    }
}
.list-right-block {
    float: right;width: 24*$x;margin-right: $x;position: relative;
    @include bp(max-width, 1280px){
        width: 19*$x;
    }
    @include bp(max-width, 1015px){
        float: none;padding-left: $x;width: 100%;padding-right: $x;margin: 0;max-width: 100%;
        .job-details & {
            width: 576px;margin-left: 5*$x;
        }
        .specs-list-item & {
            clear: both;width: auto;float: none;margin: 0;padding-left: 12*$x;padding-right: 48px;overflow: hidden;padding-bottom: 2.5*$x;
            .jl-items-contact {float: right;padding: 0;margin: 0;}
            .jl-item-info {float: left;margin: 0;padding: 0;}
        }
    }
    @include bp(max-width, 910px){
        .specs-list-item & {
            clear: both;width: auto;float: none;margin: 0;padding-left: $x;overflow: hidden;padding-bottom: 2.5*$x;
        }
    }
    @include bp(max-width, 680px){
        .specs-list-item & {
            padding-bottom: 2*$x;padding-right: 16px;
            .jl-item-info {display: none;}
            .jl-items-contact {float: none;width: auto;}
        }
    }
    @include bp(max-width, 480px){
        display: none;
        .specs-list-item & {
            display: block;
            .jl-items-contact {
                .small-btn {width: 256px;}
            }
        }
    }
}
.list-spec-content {
    float: left;width: 39*$x;padding-left: 2*$x;
    @include bp(max-width, 1280px){
        width: 47%;
    }
    @include bp(max-width, 1024px){
        width: 576px;
    }
    @include bp(max-width, 910px){
        float: none;width: auto;padding-left: 16px;padding-top: 24px;
        .jl-item-info {clear: both;}
        .jl-item-link {overflow: hidden;}
    }
    @include bp(max-width, 480px){
        padding-top: 16px;
        .jl-item-info {
            display: none;
        }
        .jl-item-link {clear: both;}
        .spec-info-for-mobile {display: block;clear: none;padding-top: 10px;}
    }
}

.list-jobs-avatar {
    float: left;width: 4*$x;padding-left: $x;
    @include bp(max-width, 1015px){
        margin-right: $x;
    }
}
.list-jobs-content {
    float: left;padding-left: 2*$x;width: 45*$x;
    @include bp(max-width, 1280px){
        width: 576px;
    }
    @include bp(max-width, 1015px){
        float: none;padding-left: $x;width: 100%;padding-right: $x;
        .job-details & {
            overflow: hidden;width: 576px;
        }
    }
    @include bp(max-width, 767px){
        .job-details & {
            width: auto;overflow: visible;
        }
    }
}