.top-filter {
    background: #64463c;padding: 32px 0 0;margin-bottom: 32px;margin-top: -32px;z-index: 1;position: relative;
    .checkboxed {
        color: #281414;transition: all 0.2s ease-in-out;
        &:hover:after {background-color: #000}
        &:after {background: #281414;}
        &:before {background-color: #000;border-radius: 4px;}
        &.checked {color: #fff;}
    }
    @include bp(max-width, 370px){
        padding-bottom: 0;
        &:after {@include clearfix;}
    }
}
.tf-title {
    @include h3;color: #000;border-bottom: 1px solid #000;margin-bottom: 16px;padding-bottom: 8px;
    @include bp(max-width, 768px){
        margin-top: $x;
    }
    @include bp(max-width, 370px){
        margin-top: 0;
    }
}
.tf-checkbox-list {
    li {margin-bottom: 8px;}
}

.tf-functions-select {margin-bottom: 24px;}
.tf-checkboxes {
    @include bp(max-width, 768px){
        top: -$x;position: relative;
    }
}

.top-filter-container {
    max-width: 1280px + 4*$x;padding: 0 2*$x;margin: 0 auto;
    @include bp(max-width, 1024px){
        padding: 0 $x;
    }
}
.tf-row {
    margin-bottom: 1.5*$x;
    @include bp(max-width, 1365px){
        margin-left: -2*$x;margin-right: -2*$x;
    }
    @include bp(max-width, 1024px){
        margin-left: -1*$x;margin-right: -1*$x;
    }
    @include bp(max-width, 370px){
        margin: 0 0 1.5*$x 0;
    }
    &:after {@include clearfix;}
}

.tf-col-big {
    width: 38*$x;float: left;
    & + .tf-col-small {margin: 0 4*$x;}
    .tf-col-small + .tf-col-small {margin-left: 4*$x;}
    .tf-row {margin-bottom: 0;}
    @include bp(max-width, 1365px){
        width: 50%;padding: 0 2*$x;
        .tf-col-small {width: 50%;}
        .tf-col-small + .tf-col-small {margin: 0;}
        .tf-col-small, & + .tf-col-small {margin: 0;padding: 0 2*$x;}
    }
    @include bp(max-width, 1024px){
        padding: 0 $x;
        .tf-col-small, & + .tf-col-small {margin: 0;padding: 0 $x;}
    }
    @include bp(max-width, 768px){
        width: 100%;margin-bottom: $x;
        .tf-col-small, & + .tf-col-small {margin: 0;padding: 0 $x;}
        & + .tf-col-small {padding-right: 0.5*$x;}
        .tf-col-small {width: 50%;padding-right: 0.5*$x;}
        .tf-col-small + .tf-col-small {margin: 0;padding-left: 0.5*$x;padding-right: $x;}
    }
    @include bp(max-width, 370px){
        width: 100%;margin-bottom: 0.5*$x;padding: 0;
        .tf-col-small, & + .tf-col-small {margin: 0 0 1.5*$x;padding: 0;}
        & + .tf-col-small {padding-right: 0;}
        .tf-col-small {width: 100%;padding-right: 0;}
        .tf-col-small + .tf-col-small {margin: 0 0 1.5*$x;padding-left: 0;padding-right: 0;}
    }
}
.tf-col-small {
    width: 17*$x;float: left;
    @include bp(max-width, 1365px){
        width: 25%;padding: 0 2*$x;
    }
    @include bp(max-width, 1024px){
        padding: 0 $x;
    }
    @include bp(max-width, 768px){
        width: 50%;padding: 0 0.5*$x 0 $x;
        & + .tf-col-small {padding: 0 $x 0 0.5*$x;}
    }
    @include bp(max-width, 370px){
        width: 100%;padding: 0;margin-bottom: 0.5*$x;
        & + .tf-col-small {padding: 0;}
        &:last-child {margin-bottom: 0;}
    }
}

.tf-action {
    text-align: right;border-top: 1px solid $body-bg;padding-top: $x;padding-bottom: $x;
    .grey-btn {
        @include btn(#919191, #fff, #a5a5a5, #fff, #a5a5a5);
    }
    .btn {text-decoration: none;font-family: $effra;font-size: 19px;height: 40px;line-height: 26px;}
}

.selectize-control {
    input {cursor: pointer !important;}
}

.top-filter-toggle {
    position: fixed;left: 0;top: 0;left: 32px;background: #63463B;color: #281414;text-transform: uppercase;padding: 0 40px 0 $x;border: none;height: 32px;line-height: 32px;text-transform: uppercase;font-family: $mono;border-radius: 0 0 4px 4px;font-size: 11px;transition: transform 0.3s ease-in-out;transform: translateY(56px);
    &:after {
        content: "";
        position: absolute;background: url('../images/svg/dropdown-brown.svg') 0 0 no-repeat;width: 13px;height: 8px;right: 8px;top: 50%;margin-top: -4px;
    }
    &.active {
        transform: translateY(468px);
        &:after {
            transform: rotate(180deg);
        }
    }

}
.top-filter-wrapper {
    height: 388px;
    .top-filter {
        position: fixed;width: 100%;transition: transform 0.3s ease-in-out;transform: translateY(-412px);
        &.in {transform: translateY(0px);}
    }
}