.top-employer {
    max-width: 1376px;margin: 0 auto 32px;padding: 0 2*$x;
    &:after {@include clearfix;}
    @include bp(max-width, 1024px){
        padding: 0 $x;margin-bottom: 16px;
    }
    @include bp(max-width, 980px){
        margin-bottom: 0;
    }
}
.te-item {
    height: 416px;position: relative;padding-top: 208px;position: relative;float: left;max-width: 416px;margin-left: 32px;width: calc(33.3% - 21px);    
    &:first-child {margin-left: 0;}
    @include bp(max-width, 1200px){
        margin-left: 16px;width: calc(33.3% - 11px);
    }
    @include bp(max-width, 980px){
        float: none;width: 100%;margin: 0;padding-top: 114px;max-width: 100%;margin-bottom: $x;height: auto;
    }
    @include bp(max-width, 768px){
        height: auto;
    }
    @include bp(max-width, 640px){
        margin-bottom: 16px;
    }
    @include bp(max-width, 480px){
        min-height: 368px;padding-top: 50%;
    }
}
.te-item-avatar {
    position: absolute;top: 16px;left: 16px;
}
.te-item-text {
    padding: 16px;height: 100%;
    @include bp(max-width, 980px){
        padding-bottom: 2*$x;
    }
    @include bp(max-width, 480px){
        min-height: 163px;
    }
}
.te-item-name {
    @include small;margin-bottom: 24px;color: #fff;
    span {
        @include label;margin-right: 4px;color: #fff;
    }
}
.te-item-vacancy {
    @include h2;color: #fff;
}